@import "../partials/basis.scss";

* {
  @include all_prefix(box-sizing, border-box);
}

html {
  @include main-font();
  font-size: $base_font_size;
  position: relative;
  min-height: 100%;
  // line-height: $base_line_height;
  scroll-behavior: smooth;
}

body {
  position: relative;
  height: 100%;
}
#root {
  height: 100%;
}

.clear {
  clear: both;
}
a {
  text-decoration: none !important;
}
svg {
  width: inherit;
  height: inherit;
}

.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}

.flex-column {
  flex-direction: column !important;
}
