.message {
  margin: 0 0 3rem 0 !important;
  @include main-font();
  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: map-get($colors, cl-1);

    color: #fff;
    display: flex;
    justify-content: center;
    align-items: middle;
    span {
      width: 100%;
      height: 100%;
    }
    svg {
      width: 25px;
    }
  }
  &__txt-other,
  &__txt-me {
    border-radius: 30px;
    padding: 1rem 2rem;
    text-align: justify;

    line-height: 2.5rem;
  }
  &__txt-other {
    background-color: map-get($colors, cl-2);
    color: map-get($colors, cl-2-1);
    border-bottom-left-radius: 0;

    max-width: 80%;
    @media screen and (min-width: map-get($grids, sm )) {
      max-width: 70%;
    }
  }
  &__txt-me {
    @include color_set(background-color, map-get($colors, cl-3), 0.6);
    color: map-get($colors, cl-2-1);
    border-bottom-right-radius: 0;

    max-width: 90%;
    @media screen and (min-width: map-get($grids, sm )) {
      max-width: 80%;
    }
  }
  &__space {
    width: 40px;
    // height: 40px;
  }
}
